.header-placer {
  display: contents;
}

.main-data {
  /* border: 2px solid red; */
  padding-left: 0px;
  padding-right: 0px;
}

.hidden-xml-ip {
  display: none !important;
}

.agent-col {
  /* margin-left: 0 !important; */
  padding-right: 50px;
}

.agent-img {
  margin-top: 120px;
}

.cont-main {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
}

.left-toolbar {
  margin-bottom: 5px;
}

.btn-in {
  margin-left: 19px;
}

.my-navbar {
  background-color: purple;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
}

#my_file {
  display: none;
}

#get_file {
  /* background: #f9f9f9; */
  border: 1px solid #88c;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#dwnld-name {
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  width: 150px !important;
  max-height: 200px !important;
  max-width: 250px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px #ccc;
  -webkit-box-shadow: inset 1px 1px 5px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  -ms-box-shadow: inset 0px 0px 4px #ccc;
  -o-box-shadow: inset 0px 0px 4px #ccc;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: auto;
}

#customfileupload {
  display: flex;
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  width: 150px !important;
  max-height: 250px !important;
  max-width: 250px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px #ccc;
  -webkit-box-shadow: inset 1px 1px 5px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  -ms-box-shadow: inset 0px 0px 4px #ccc;
  -o-box-shadow: inset 0px 0px 4px #ccc;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: auto;
}

.fileselect {
  margin: auto;
}

.btn-save {
  margin-left: 25%;
}

.btn-so {
  margin-right: 5px;
}

.Workspace, .ws-ele {
  color: white;
  display: inline-block;
}

canvas {
  background-color: antiquewhite;
}

.tool-pal {
  background-color: steelblue;
  color: black;
}

.nodes-ws {
  background-color: steelblue;
  color: black;
}

.ws-data {
  margin-left: 0px;
  margin-right: 0px;
}

.main-row {
  padding-left: 0px;
  border-radius: 3%;
  padding-right: 0px;
}

.main-ws {
  height: 550px;
  overflow: auto;
}

/* .main-row::before {
  background-color: antiquewhite;
} */

.tp-full {
  background-color: lightgrey;
  height: 550px;
  border-radius: 3%;
  padding: 0;
  /* margin-left: auto;
  margin-right: auto; */
}

.fsb {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.circle-xs {
  background-color: limegreen;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* padding: auto; */
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.hexagon-xs::before, .hexagon-xs::after {
  height: 11px !important;
}

.rect-xs {
  /* padding-top: 3%; */
  background-color: orange;
  height: 30px;
  color: white;
  width: 50px;
}

.node-eles {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tool-pal, .nodes-ws {
  padding-bottom: 8px;
  padding-top: 8px;
}

.new-cir, .new-hex, .new-rect {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* margin: auto !important; */
}

.ws-ele {
  margin-right: 5px;
}

.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top: 15px;
  position: absolute;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding: 25px 25px 20px;
}

modal-label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
