body {
  margin: 0;
  padding: 0;
}

.header-placer {
  display: inline-block;
}

.hidden-xml-ip {
  display: none !important;
}

.ws-data {
  height: 700px;
  margin-left: 0px;
  margin-right: 0px;
}

.main-row {
  height: 95%;
  padding-left: 0px;
  border-radius: 3%;
  padding-right: 0px;
}

.main-ws {
  height: 95%;
  overflow: auto;
}

.cont-main {
  /* min-height: 100%;
  max-height: 100%; */
  /* height: auto !important; */
  width: auto;
}

.row {
  /* min-height: 100%; */
  max-height: 100%;
}

.swap-btn {
  margin-top: 25%;
}

.og-pal {}

.can-pal {
  display: none;
}

@media (max-width: 1100px) {
  .agent-sizer {
    max-width: 125px !important;
    max-height: 125px !important;
  }
}

.agent-sizer {
  height: auto;
  width: auto;
  min-width: 90px;
  min-height: 90px;
  max-width: 150px;
  max-height: 150px;
}

.main-data {
  background: #fe9a8b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f97590, #fe9a8b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f97590, #fe9a8b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* z-index: 0; */
  /* border: 2px solid red; */
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  /* height: 100% !important; */
}

.agent-col {
  /* min-height: 100%;
  max-height: 100%; */
  background: #f78ca0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fe9a8b, #f78ca0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fe9a8b, #f78ca0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* z-index: 0; */
  color: white;
  padding-top: 50px;
}

.agent-img {
  /* min-height: 100%;
  max-height: 100%; */
  margin-top: 120px;
}

.del-rel {
  position: relative;
}

.delete-btn {
  padding-left: 30px;
}

.input-icon {
  position: absolute;
  left: 13px;
  top: calc(50% - 0.60em);
  /* Keep icon in center of input, regardless of the input height */
}

.qn-text {
  width: 100%;
  background-color: #182e43;
  padding-left: 4%;
  padding-top: 1%;
  padding-right: 4%;
  padding-bottom: 18px;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  outline: none;
  margin-bottom: 1%;
}

.extra-data {
  height: 98%;
  padding: 30px;
  padding-top: 10px;
  background-color: #182e43;
  z-index: 0;
}

.blocker {
  display: block !important;
}

.floater {
  float: left;
}

/* @media (min-width: 768px) { */

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 21% !important;
    max-width: 21% !important;
  }
  .col-md-9 {
    flex: 0 0 79% !important;
    max-width: 79% !important;
  }
}

@media screen and (max-width: 1200px) {
  .left-toolbar {
    max-width: 110px !important;
    font-size: x-small;
  }
  .tool-pal {
    font-size: 0.9rem !important;
  }
}

#customfileupload, #dwnld-name {
  width: 90% !important;
  display: inline-flex !important;
  margin: 5px;
}

.left-toolbar {
  margin-bottom: 5px;
  background-color: #182e43 !important;
}

.btn-in {
  background-color: #182e43 !important;
  border-color: #284b6d !important;
  margin-left: 5%;
}

.btn-out {
  background-color: #182e43 !important;
  border-color: #284b6d !important;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #386998;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 10px;
}

#my_file {
  display: none;
}

#get_file {
  /* background: #f9f9f9; */
  /* border: 1px solid #88c; */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#dwnld-name {
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  /* width: 150px !important; */
  max-height: 200px !important;
  max-width: 250px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px #ccc;
  -webkit-box-shadow: inset 1px 1px 5px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  -ms-box-shadow: inset 0px 0px 4px #ccc;
  -o-box-shadow: inset 0px 0px 4px #ccc;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: auto;
}

#customfileupload {
  display: flex;
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  /* width: 150px !important; */
  max-height: 250px !important;
  max-width: 250px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px #ccc;
  -webkit-box-shadow: inset 1px 1px 5px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  -ms-box-shadow: inset 0px 0px 4px #ccc;
  -o-box-shadow: inset 0px 0px 4px #ccc;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: auto;
}

.fileselect {
  margin: auto;
}

.btn-save {
  margin-right: 5px;
}

.btn-so {
  margin-right: 5px;
}

.agent-text {
  font-family: 'Raleway';
  font-weight: medium;
  font-size: 1.25rem;
}

.skip-intro {
  height: 45px;
  width: 140px;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 100px;
}

.Workspace {
  font-family: 'Raleway';
  font-weight: bold;
  margin-bottom: 0 !important;
  margin-top: 3px !important;
  margin-left: 15% !important;
}

.Workspace, .ws-ele {
  color: white;
  display: inline-block;
}

canvas {
  background-color: antiquewhite;
}

.tool-pal {
  font-size: 1rem;
  background-color: #386998;
  color: white;
}

.nodes-ws {
  font-size: 1rem !important;
  background-color: #386998;
  color: white;
}

.background-dark {
  /* background-color: #182e43; */
  /* z-index: -15; */
  /* height: 100%; */
}

.tp-full, .tp-full-left {
  background-color: #284b6d;
  /* height: 550px; */
  padding: 0;
  height: 90.25%;
  /* margin-left: auto;
  margin-right: auto; */
}

.tp-full-left {
  height: auto;
  padding-bottom: 1%;
}

.fsb {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.circle-xs {
  background-color: limegreen;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* padding: auto; */
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.hexagon-xs::before, .hexagon-xs::after {
  height: 11px !important;
}

.rect-xs {
  /* padding-top: 3%; */
  background-color: orange;
  height: 30px;
  color: white;
  width: 50px;
}

.node-eles {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tool-pal, .nodes-ws {
  font-family: 'Roboto';
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 0px !important;
}

.new-cir, .new-hex, .new-rect {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* margin: auto !important; */
}

.ws-ele {
  margin-right: 5px;
}

.selected {
  background-color: #1F75CC;
  color: white;
  z-index: 100;
}

modal-label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

#uname, #fname {
  background-color: #bec9d4;
}

.messagepop {
  color: white;
  background-color: #176396;
  border: 1px solid #2e2e2e;
  cursor: default;
  display: none;
  border-radius: 8%;
  /* margin-top: 15px; */
  position: absolute;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding: 25px 25px 20px;
  top: 63px;
  left: 41%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #176396;
  margin: 8px 0;
  padding-bottom: 8px;
}

.messagepop2 {
  color: white;
  background-color: #176396;
  border: 1px solid #2e2e2e;
  cursor: default;
  display: none;
  border-radius: 8%;
  /* margin-top: 15px; */
  position: absolute;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding: 25px 25px 20px;
  top: 63px;
  left: 48%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.messagepop2 p, .messagepop2.div {
  border-bottom: 1px solid #176396;
  margin: 8px 0;
  padding-bottom: 8px;
}

.btn-info {
  background-color: #284b6d;
  border-color: #284b6d;
  border-radius: 40px;
}
